<!DOCTYPE html>
<html>
  <head>
    <title>TeamReptiles</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <header>
	  <div class="container">
 	   <div id="logo"><%= link_to 'Repty', root_path %></div>

	    <ul class="header-right">
	      <li><%= link_to 'About Us',index_about_path %></li>
	      <li><%= link_to 'Q&A',index_contact_path %></li>
	      <li><%= link_to 'ポリシー', index_policy_path %></li>
	      <li><%= link_to '利用規約' , index_terms_path %></li>
	      <% if user_signed_in? %>
	    	  <li><%= link_to '繋がる' , matching_index_path %></li>
	          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
	      <% else %>
	          <li><%= link_to '新規登録/ログイン',new_user_registration_path %></li>
	      <% end %>
	    </ul>
	  	</div>
	  </div>
	</header>

    <%= yield %>
  </body>
</html>